<div class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
    <% if (user && user.username) { %>
        <a
            class="
                bg-pink-500
                text-white
                active:bg-pink-600
                font-bold
                uppercase
                text-xs
                px-4
                py-2
                rounded
                shadow
                hover:shadow-md
                outline-none
                focus:outline-none
                mr-1
                mb-1
                ease-linear
                transition-all
                duration-150
            "
            href="/"
        >Home</a>
        <a
            class="
                bg-pink-500
                text-white
                active:bg-pink-600
                font-bold
                uppercase
                text-xs
                px-4
                py-2
                rounded
                shadow
                hover:shadow-md
                outline-none
                focus:outline-none
                mr-1
                mb-1
                ease-linear
                transition-all
                duration-150
            "
            href="/settings"
        >Settings</a>
        <a
            class="
                bg-pink-500
                text-white
                active:bg-pink-600
                font-bold
                uppercase
                text-xs
                px-4
                py-2
                rounded
                shadow
                hover:shadow-md
                outline-none
                focus:outline-none
                mr-1
                mb-1
                ease-linear
                transition-all
                duration-150
            "
            href="/logout"
        >Signout</a>
    <% } else { %>
        <a
            class="
                bg-pink-500
                text-white
                active:bg-pink-600
                font-bold
                uppercase
                text-xs
                px-4
                py-2
                rounded
                shadow
                hover:shadow-md
                outline-none
                focus:outline-none
                mr-1
                mb-1
                ease-linear
                transition-all
                duration-150
            "
            href="/login/federated/twitter.com"
        >Signin</a>
    <% } %>
</div>